<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/MSBC-theme.css')}}">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="{{ url_for('home_page') }}">
            {% block logo %}
            {% endblock %}
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="{{ body_class }}">
                    <h2>Insights, Illuminate,<br><span>Innovation</span></h2>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Signature Form<br></h3>
                        <p>Fill the form to get your Signature Instantly</p>
                        <form method="post">
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control" name="First name" placeholder="First name" required>
                                </div>
                                <div class="col">
                                    <input type="text" name="Last name" class="form-control" placeholder="Last name" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <input class="text" name="Designation" class="form-control" placeholder="Designation" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" name="Email address" class="form-control" placeholder="Email address" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col inline-el rad-with-details">
                                    <input type="radio" id="rad1" name="number_type" value="uk" required checked><label for="rad1">UK Number</label>
                                </div>
                                <div class="col inline-el rad-with-details">
                                    <input type="radio" id="rad2" name="number_type" value="india" required><label for="rad2">India Number</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <input type="checkbox" id="chk1" name="need_extension" value="true"  unchecked onclick="toggleNumberInput(this)"><label for="chk1">Need Extension</label>
                                </div>
                                <div class="col" id="numberInput">
                                    <input type="number" name="extension" class="form-control" placeholder="Enter extension">
                                </div>
                            </div>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn ibtn-full extra-padding">Download</button>
                            </div>
                        </form>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script type="text/javascript">
    function toggleNumberInput(checkbox) {
    var numberInput = document.getElementById('numberInput');
    if (checkbox.checked) {
        numberInput.style.display = 'block'; // Shows the input field when checked
    } else {
        numberInput.style.display = 'none'; // Hides the input field when unchecked
    }
}

// Call the function on page load to set the initial visibility based on the checkbox state
window.onload = function() {
    toggleNumberInput(document.getElementById('chk1'));
}

</script>
</body>
</html>